/* VARIABLES */
:root {
  --rowNum: 0; 
  --colNum: 0;
  --imgSize: 0;
  --gutter: 0;
  --maxChartSize: 600px;
  --placeholderImg: url('img/placeholder.jpg');
}

/* ELEMENTS */
body {
  background-color: #111;
  color: white;
}

p {
  margin-bottom: 10px;
}

/* makes the click on button triggers when the user clicks on the span inside it */
button > span {
  pointer-events: none;
}

/* inputs */
#col-num, #row-num {
  width: 75px;
}
/* CLASSES */

.bordered {
  border: 2px solid;
}

/* used to set the background image as the placeholder for all new elements */
.placeholder {
  background-image: url('../img/placeholder.jpg');
  background-size: var(--imgSize);;
}

.repeat-bg {
  background-repeat: repeat!important;
}

.w-auto {
  width: auto;
}

/* colors */
.chocolate{
  border-color: chocolate;
}

.white  {
  border-color: white;
}

.CornflowreBlue{
  border-color: CornflowerBlue;
}

.DarkSalmon{
  border-color: DarkSalmon;
}

.DarkViolet{
  border-color: DarkViolet;
}

.GoldenRod{
  border-color: GoldenRod;
}

.LightCyan{
  border-color: LightCyan;
}

/*! GRID SYSTEM */
/* contains the title and options+chart */
#main-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "title title"
    "options chart";
  height: 100vh;
}

/* title displayed on top */
#title {
  grid-area: title;
  text-align: center;
}

/* displayed on left/under the title based on the size of the screen */
#options-container {
  display: grid;
  grid-area: options;
  align-content: center;
  justify-items: center;
}

/* contains the chart */
#chart-container {
  display: grid;
  grid-area: chart;
  place-items: center; /* align-items + justify-items combination  */
}

/* contains the title of the chart and the album covers */
#chart {
  display: grid;
  max-width: var(--maxChartSize);;
  max-height: var(--maxChartSize);;
  margin: 50px 10px;
  background-repeat: no-repeat;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "title"
    "covers";
}

#chart-title {
  grid-area: title;
  text-align: center;
  font-size: 28px;
}

#chart-covers {
  grid-area: covers;
  display: grid;
  gap: var(--gutter);
  grid-template-rows: repeat(var(--rowNum), auto);
  grid-template-columns: repeat(var(--colNum), auto);
}

.chart-cell {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "rank"
    "coverpic"
    "title";
}

.cc-rank {
  grid-area: rank;
}
.cc-coverpic {
  grid-area: coverpic;
  width: var(--imgSize);
  height: var(--imgSize);
}
.cc-title {
  grid-area: title;
}



/* MEDIA QUERIES */

@media (max-width: 1024px) {
  #main-container {
    grid-template-rows: auto 3fr 7fr;
    grid-template-areas: 
      "title title"
      "options options"
      "chart chart";
  }
}