/* VARIABLES */
:root {
  --input-border-color: rgb(60, 65, 68);
  --chart-container-bg-color: #000;
}

/* ELEMENTS */
body {
  background-color: #111;
  color: white;
}

p {
  margin-bottom: 10px;
}

#col-number, #row-number {
  max-width: 75px;
  min-width: 75px;
}
/* CLASSES */

.bordered {
  border: 2px solid;
}

.repeat-bg {
  background-repeat: repeat!important;
}

.w-auto {
  width: auto;
}

/* colors */
.chocolate{
  border-color: chocolate;
}

.CornflowreBlue{
  border-color: CornflowerBlue;
}

.DarkSalmon{
  border-color: DarkSalmon;
}

.DarkViolet{
  border-color: DarkViolet;
}

.GoldenRod{
  border-color: GoldenRod;
}

.LightCyan{
  border-color: LightCyan;
}

/*! GRID SYSTEM */

.grid-container {
  display: grid;
}

#main-container {
  grid-template-columns: 3fr 7fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "title title"
    "options chart";
  height: 100vh;
}

#title {
  grid-area: title;
  text-align: center;
}

#options-container {
  grid-area: options;
  align-content: center;
  justify-items: center;
}

#chart-container {
  grid-area: chart;
  place-items: center; /* align-items + justify-items combination  */
}

#chart {
  display: grid;
  width: 600px;
  height: 600px;
  margin: 50px 10px;
  background-repeat: no-repeat;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "title"
    "covers";
}

#chart-title {
  grid-area: title;
  text-align: center;
  font-size: 28px;
}

#chart-covers {
  grid-area: covers;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  #main-container {
    grid-template-rows: auto 3fr 7fr;
    grid-template-areas: 
      "title title"
      "options options"
      "chart chart";
  }
}